/* uplode button */

/* style="height: 100vh; display: flex; justify-content: center; align-items: center;" */

#uplodesection{
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
 }